<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-header">
            <i class="fas fa-address-book"></i>
            My Contacts List
        </h1>

        <div id="myForm">
            <form action="/create-contact" method="POST">
                <input type="text" name="name" placeholder="Enter Name" required>
                <input type="number" name="phone" placeholder="Enter Phone" required>
                <button type="submit"> Add Contact </button>
            </form>
        </div>

        <div id="contact-list">
            <ul>
                <% for(let i of contact_list){ %>
                    <li>
                        <div class="list-item">
                            <span><%= i.name %></span>
                            <span><%= i.phone %></span>
                        </div>

                        <div class="list-button">
                            <a href="/delete-contact/?id=<%= i._id %>">
                                <i class="fas fa-window-close"></i>
                            </a>
                        </div>
                    </li> 
                <%} %>
            </ul>
        </div>

        <script type="text/javascript" src="/js/home.js"></script>
    </body>

</html>