<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Playground</h1>
        <% for(let i=1; i<=10; i++){ %>
            <li>
                <%= i %>
            </li>
        <% } %>

        <% if(false){ %>
            <h1> haha! :) </h1>
        <% }else{ %>
            <h1> hehe ): </h1>
        <% } %>

    </body>

</html>